/* =======================================================
   EL FONDO DE LA PÁGINA DE PROPUESTA
   ======================================================= */
body {
    /* Un fondo romántico oscuro para que el libro sea el centro de atención */
    background: linear-gradient(135deg, #ffe4e8 0%, #ffb3c1 100%);
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* =======================================================
   DIARIO PIXEL ART (Estilo RPG)
   ======================================================= */
.contenedor-diario-pixel {
    position: relative;
    width: 95%;
    max-width: 400px; /* Tamaño ideal para que parezca un diario en la pantalla */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated; /* ¡Mantiene los píxeles nítidos! */
}

/* La hoja base */
#hoja-actual {
    width: 100%;
    display: block;
    filter: drop-shadow(0 15px 25px rgba(0,0,0,0.3)); /* Sombra para darle profundidad */
}

/* Las flechas superpuestas */
.btn-flecha {
    position: absolute;
    bottom: 30px; /* Ajusta estos px si no calzan exacto con el dibujo de tu hoja */
    width: 90px;
    cursor: pointer;
    transition: transform 0.1s;
}

.btn-flecha:hover { transform: scale(1.1); filter: brightness(1.2); }
.btn-flecha:active { transform: scale(1); }

#btn-atras { left: 40px; display: none; } /* Oculto en la página 1 */
#btn-siguiente { right: 40px; }

/* El botón de Aceptar tipo Minecraft */
#btn-aceptar {
    position: absolute;
    bottom: 80px; /* Queda flotando un poco más arriba de las flechas */
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    cursor: pointer;
    display: none; /* Invisible hasta que pasen los 10 segundos */
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    animation: aparecerPop 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#btn-aceptar:hover { filter: brightness(1.1); }
#btn-aceptar:active { transform: translateX(-50%) scale(0.95); }

@keyframes aparecerPop {
    0% { transform: translateX(-50%) scale(0); opacity: 0; }
    100% { transform: translateX(-50%) scale(1); opacity: 1; }
}
/* =======================================================
   MODO CELULAR
   ======================================================= */
@media (max-width: 768px) {
    body { padding: 20px; box-sizing: border-box; }
    
    .libro-abierto {
        flex-direction: column;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        background-image: none; /* Quitamos el lomo central */
        padding: 20px 0;
    }
    
    .pagina-izquierda, .pagina-derecha { 
        width: 100%; 
        padding: 20px; 
    }
    
    .pagina-izquierda img { 
        max-height: 250px; 
        margin-bottom: 10px; 
    }
}